
/* To fix CSS styling issues with Chromium based browsers */
input[type=search]{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

body {
  background-color: rgb(71, 71, 73);
  color: rgb(151, 151, 151);
  
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 
    ". app ."
    ". app ."
    ".  .  .";
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: 
      ". app ."
      ". app ."
      ".  .  .";
  }
}

.search {
  text-align: center;
  grid-area: app;
}

.search h1 {
  font-size: 6vw;
  margin-bottom: 1vh;
}

.search p {
  font-size: 1.5vw
}

.searchbar {
  min-height: 32px;
  margin: 5vw 0 2vw 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.searchbutton {
  font-size: 16px;
  background-color: rgb(119, 119, 119);
  color: aliceblue;

  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-color: rgb(119, 119, 119);
  border-width: 1px;
}

.searchbutton:hover {
  background-color: rgb(151, 151, 151);
}

.searchfield {
  font-size: 16px;
  padding-left: 16px;
  min-height: 1vh;

  color: white;
  background-color: rgb(151, 151, 151);

  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-color: rgb(151, 151, 151);
  border-width: 1px;
}

.results {
  max-width: 50%;

  margin: 5px;
  padding: 10px;
}

.result {
  background-color: rgb(100, 100, 100);

  margin: 5px;
  margin-left: 25px;
  padding: 5px 10px;
}

.resultLink {
  text-decoration: none;
  font-size: 18px;
}